DATABASE_URL=
GOOGLE_CLIENT_SECRET=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_LIVEKIT_URL=
NEXT_PUBLIC_ONESIGNAL_APP_ID=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
ONESIGNAL_REST_API_KEY=
SUPABASE_PROJECT_REF=