DATABASE_URL=
GITHUB_TOKEN=
GOOGLE_CLIENT_SECRET=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_LIVEKIT_URL=
NEXT_PUBLIC_ONESIGNAL_APP_ID=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
ONESIGNAL_APP_ID=
ONESIGNAL_KEY=
ONESIGNAL_REST_API_KEY=
SUPABASE_DIRECT_DB_URL=
SUPABASE_PROJECT_REF=
VERCEL_PROJECT_ID=